<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<bean id="personZg" class="com.hntest.bean.Person">
<property name="name" value="张嘎">
</property>
<property name="statement" value="三天不打鬼子，手都痒痒"></property>
</bean>

<bean id="personRod" class="com.hntest.bean.Person">
<property name="name" value="Rod">
</property>
<property name="statement" value="世界上有10种人，认识二进制的和不认识二进制的"></property>
</bean>

<bean id="gray" class="com.hntest.bean.impl.GrayInk"></bean>
<bean id="colours" class="com.hntest.bean.impl.ColoursInk"></bean>
<bean id="a4" class="com.hntest.bean.impl.PagerA4"></bean>
<bean id="b5" class="com.hntest.bean.impl.PagerB5"></bean>
<bean id="printer" class="com.hntest.bean.Printer">
<property name="ink" ref="gray"></property>
<property name="paper" ref="a4"></property>
</bean>
</beans>